/* Navbar */

@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:500&display=swap');
@font-face {
    font-family: "Britanica";
    src: url("/fonts/Britanica.woff") format("woff");
}

:root{
    --main-color: #CA4C34;
}

body {
    background-color: #000;
}

li, a, button {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

section {
    display: flex;
    flex-direction: column;
    padding: 125px 100px;
    align-items: center;
}

section h3.title {
    color: var(--main-color);
    font: 50px 'Britanica';
    margin: 20px 0;
    text-align: center;
}

section p {
    max-width: 800px;
    margin-bottom: 20px;
    text-align: center;
    padding: 0 20px;
    line-height: 2;
    font: normal 19px 'Raleway';
    color: #fff;
}

ul.grid {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

ul.grid > .label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.label > p {
    width: fit-content;
    color: #000;
    background-color: #fff;
    padding: 0 10px;
    margin-bottom: 2px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 40px;
    left: 40px;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.logo {
    cursor: pointer;
    margin-left: -10px;
}

.nav__links {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding-bottom: 10px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: var(--main-color);
}

button {
    padding: 9px 25px;
    background-color: var(--main-color);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: var(--main-color);
}

@media (max-width: 1000px) {
    header {
        padding: 20px 50px;
    }
}

@media (max-width: 700px) {
    header {
        flex-direction: column;
    }
    header h2 {
        margin-bottom: 15px;
    }
    button {
        margin-top: 30px;
    }
}


/* Home Page */


.hero {
    justify-content: center;
    position: relative;
    min-height: 100vh;
    text-align: center;
}

.hero h1 {
    position: relative;
    font: 200px 'Britanica';
    z-index: 2;
    color: #fff;
}

.hero h1 > span {
    position: absolute;
    bottom: -20px;
    right: -90px;
    font: 60px 'Covered By Your Grace', cursive;
    z-index: 2;
    color: var(--main-color);
    transform: rotate(7deg);
}

.hero h3 {
    font: 25px 'Raleway';
    z-index: 2;
    color: #fff;
    padding: 5%;
}

.hero__image {
    position: absolute;
    top: 35%;
    left: 25%;
    width: 20vw;
    z-index: -1;
    transform: translate(-50%, -50%) rotate(-4deg);
    border-radius: 20px;
}

.hero__arrow {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: move 1s infinite;
}

@keyframes move {
    0% {
        bottom: 5%;
    }

    50% {
        bottom: 0%;
    }

    100% {
        bottom: 5%;
    }
}


@media (max-width: 1000px) {
    section {
        padding: 100px 50px;
    }
}

@media (max-width: 800px) {
    .hero {
        min-height: 600px;
    }
    .hero h1 {
        font-size: 20px;
    }
    .hero h3 {
        font-size: 10px;
    }
}

@media (max-width: 600px) {
    section {
        padding: 80px 30px;
    }
    header {
        padding: 0;
    }
    .hero {
        min-height: 100vh;
    }
    .hero__image {
        width: 50vw;
    }
    .hero h1 {
        font-size: 80px;
    }
    .hero h1 > span {
        font-size: 30px;
        bottom: 70px;
        right: -30px;
    }
    .hero h3 {
        font-size: 20px;
    }
}

/*Work*/

.tricks .grid li {
    padding: 20px;
    height: 400px;
    border-radius: 5px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
    background-color: #2c2c2c;
    list-style: none;
}

.tricks .grid li.large {
    flex-basis: 100%;
    list-style: none;
}

@media (max-width: 4000px) {
    .tricks .grid li.large {
        flex-basis: 100%;
        list-style: none;
    }
}

